:root {
    --primary: #9d4edd; 
    --dark: #21232f; 
    --danger: #d62828; 
    --sucess: #06d6a0; 
    --white: #f5f6f7; 
}


#root {
    height: 100%; 
    width: 100%; 
    position: fixed; 
}  

header {
    background-color: var(--primary); 
}

header > div {
    cursor: pointer; 
    transition: 0.5s; 
    padding: 10px 20px; 
    text-align: right; 
}

header > div:hover {
    background-color: rgba(0, 0, 0, 0.2); 
    transition: 0.5s; 
}

header img {
    width: 50px; 
    border-radius: 100%; 
    margin-left: 15px; 
}

header span:not(.mdi) {
    margin-bottom: -10px; 
}

header span.mdi {
    font-size: 20px; 
    margin-left: 10px; 
}

header small {
    display: block; 
    margin-top: -20px; 
}

header ul li {
    list-style: none; 
    width: 100%; 
    color: var(--dark); 
    
}

header ul li a {
    width: 100%; 
    color: #fff; 
    opacity: 1; 
    text-decoration: none; 
    display: flex; 
    align-items: center; 
    padding: 10px 20px;  
    margin: 2.5px 10px; 
    transition: 0.5s; 
    border-radius: 15px; 


}

header ul li a.active{
    opacity: 1; 
    background-color: rgba(6, 247, 247, 0.6); 
    
   
}

header ul li a.active .mdi {
    color: var(--primary); 
}

header ul li a:visited, 
header ul li a:focus {
    color: #fff; 
}

header ul li a:hover {
    opacity: 1; 
    background-color: rgba(6, 247, 247, 0.6); 
}


sidebar {
    background-color: var(--dark); 
}

sidebar ul li {
    list-style: none; 
    width: 100%; 
}

sidebar ul li a {
    width: 100%; 
    color: #fff; 
    opacity: 0.6; 
    text-decoration: none; 
    display: flex; 
    align-items: center; 
    padding: 10px 5px;  
    margin: 2.5px 0; 
    transition: 0.5s; 
    border-radius: 5px; 
}

sidebar ul li a.active{
    opacity: 1; 
    background-color: rgba(0, 0, 0, 0.6); 
}

sidebar ul li a.active .mdi {
    color: var(--primary); 
}

sidebar ul li a:visited, 
sidebar ul li a:focus {
    color: #fff; 
}

sidebar ul li a:hover {
    opacity: 1; 
    background-color: rgba(0, 0, 0, 0.6); 
}

sidebar ul li span.mdi {
    font-size: 25px; 
    margin: 0 15px;  
}

sidebar ul li a text { 
    font-size: 14px; 
}

.review-card {
    background-color: #cda7ed;
    border-radius: 10px;
    padding: 20px;
    margin: 20px 0;
    width: 1200px;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  
  .stars {
    font-size: 24px;
    color: #000;
  }
  
  .reviewer-name {
    font-weight: bold;
    font-size: 20px;
  }
  
  .comment {
    font-size: 16px;
  }

.service-card {
    background-color: #F9ECD4;
    border-radius: 50px;
    padding: 5px;
    margin: 10px 10px;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}

.service-card .row {
    width: 100%;
}

.service-card .col-6.botao_reservar {
    display: flex;
    justify-content: center;
    align-items: center;
}
.service-card button {
    background-color:#65558f;
    border-radius:100px;
    padding:0px;
    display:flex;
    width: 75%;
    flex-direction:column;
    gap:8px;
    border-style:hidden;
    outline:none;
    font-size: larger;
}

@media screen and (min-width: 1200px) {
    .service-card button {
        font-size: xx-large;
    }
}

.service-card .nome{
    font-size: x-large;
    font-weight: bold;
}


homeCard {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Alinha o conteúdo ao fundo */
    height: 100vh; /* Garante que o container ocupe toda a altura da tela */
}
.adm-credentials-field {
    border-color: #000;
}

.submit-adm {
    margin: 5%;

}